$bg: rgb(226, 215, 215);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: $bg;
}

main {
    width: 90%;
    max-width: 800px;
    margin: 32px auto;
}

meal-list {
    display: inline-block;
    margin-top: 32px;
    width: 50%;
    padding: 16px;
}

.title-desc {
    color: white;
}